body
  display: flex
  background-color: grey
  flex-wrap: wrap
  justify-content: center

body > div
  width: 150px
  background: linear-gradient(#eee, #ccc)
  height: 150px
  margin: 20px
  padding: 15px
  display: flex
  align-items: flex-start
  justify-content: space-between
  border-radius: 15px
  border: 7px solid
  border-color: white #bbb #999 #bbb
  box-shadow: 14px 14px 8px #333

.domino
  width: 150px
  height: 140px
  padding-bottom: 190px
  position: relative
  &::after
    content: ""
    width: 100%
    position: absolute
    border-bottom: 7px solid #333
    top: 50%
    left: 0

.column
  flex-direction: column
  justify-content: space-between
  display: flex
  height: 100%

.pip
  min-width: 40px
  min-height: 40px
  background-color: #333
  border-radius: 50%
  display: inline-block
  box-shadow: inset 0px 3px 3px black, inset 0px -3px 3px #777

.domino:nth-child(n+7)
  .pip
    min-width: 30px
    min-height: 30px


.first-face
  align-items: center
  justify-content: center

.second-face
  align-items: flex-start
  justify-content: space-between
  .pip:last-child
    align-self: flex-end

.third-face
  align-items: flex-start
  justify-content: space-between
  .pip:nth-child(2)
    align-self: center
  .pip:last-child
    align-self: flex-end

.fourth-face
  justify-content: space-between
  align-items: flex-start

.fifth-face, .seventh-face
  .column:nth-child(2)
    justify-content: center
